section#game {
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

section#game .card {
   width: 150px;
   height: 200px;
   background-color: transparent;
   margin: 0.5rem;
   transition: all ease-in-out 200ms;

   perspective: 1000px;
   transform-style: preserve-3d;
}

section#game .card.hidden {
   opacity: 0;
}

section#game .card .card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform ease-in-out 350ms;
   transform-style: preserve-3d;
}

.card.open .card-inner {
   transform: rotateY(180deg);
}

.card .front,
.card .back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.card .front {
   background-image: url("../assets/front.svg");
}

.card .back {
   background-image: url("../assets/back.svg");
   transform: rotateY(180deg);
   display: flex;
   align-items: center;
   justify-content: center;
}
